.elementor-widget-heading i {
    margin-right: 28px;
}

.elementor-widget-heading.title-with-icon a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
}
